*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf');
}
@font-face {
    font-family: Rubik-Italic;
    src: url('../assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    /* Default font */
    font-family: Rubik;
    font-weight: 500;

    /* Colors */
    --white: #FFFFFF;
    --black: #000000;

    --grey50: #F4F6FA;
    --grey500: #626C7F;

    --blue50: #EBF0FF;
    --blue100: #EDF1F9;
    --blue300: #ABC1E1;
    --blue500: #306AFF;
    --blue850: #3B4D66;
    --blue900: #313E51;
    --blue950: #2D3949;

    --green100: #E0FDEF;
    --green500: #2FD887;

    --purple100: #F6E7FF;
    --purple600: #A729F5;

    --orange50: #FFF5ED;
    --orange400: #FF7E35;

    --red500: #EE5454;

    /* Default font color */
    color: var(--blue900);
}

/* Typographies */
.tp1 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp2-medium {
    font-family: Rubik;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp2-light {
    font-family: Rubik;
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp3 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0px;
}

.tp4 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp5-medium {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}

.tp5-regular {
    font-family: Rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}

.tp6 {
    font-family: Rubik-Italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Mobile typographies */ 
.tp1-mobile {
    font-family: Rubik;
    font-weight: 500;
    font-size: 88px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp2-medium-mobile {
    font-family: Rubik;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp2-light-mobile {
    font-family: Rubik;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp3-mobile {
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
}

.tp4-mobile {
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.tp5-mobile {
    font-family: Rubik-Italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Special classes */
.nonvisible {
    display: none !important;
}

.specialGapForQuestion {
    gap: 40px; 
}

/* LIST */
.customList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.customList > * {
    padding: 16px;

    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.25);

    display: flex;
    align-items: center;
    gap: 16px;
}

.customList > * > img {
    width: 40px;
    height: 40px;

    padding: 5.7px;
    border-radius: 8px;
}

.customList > * > *:nth-child(2) {
    flex: 1;
}

@media (min-width: 600px) {
    .customList {
        gap: 24px;
    }

    .customList > * {
        border-radius: 24px;

        gap: 32px;
    }

    .customList > * > img {
        width: 56px;
        height: 56px;

        padding: 8px;
    }
}


@media (min-width: 1100px) {
    .customList {
        gap: 16px;
    }

    .customList > * {
        padding: 24px;
    }
}

/* Button */
.btn {
    padding: 19px;

    background-color: var(--purple600);
    color: var(--white);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .btn {
        padding: 32px;
        margin-top: 8px;
        margin-bottom: 8px;

        border-radius: 24px;
    }
}

@media (min-width: 1100px) {
    .btn {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

/* Modifiers */
.btn--notactive {
    opacity: 0.5;
}

.answer--chosen {
    border: solid var(--purple600) 3px;
}

.answer--chosen > .bottomSection__rightSection__question__item__letter {
    color: var(--white);
    background-color: var(--purple600);
}

.answer--correct {
    border: solid var(--green500) 3px;
}

.answer--correct > .bottomSection__rightSection__question__item__letter {
    color: var(--white);
    background-color: var(--green500);
}

.answer--correct > .correct-icon {
    display: block;
}

.answer--wrong {
    border: solid var(--red500) 3px;
}

.answer--wrong > .bottomSection__rightSection__question__item__letter {
    color: var(--white);
    background-color: var(--red500);
}

.answer--wrong > .wrong-icon {
    display: block;
}