@import url('global.css');

body {
    background-image: url('../assets/images/pattern-background-mobile-light.svg');
    background-color: var(--grey50);
}

/* TOP SECTION */
.topSection {
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topSection__leftSection {
    display: flex;
    align-items: center;
    gap: 16px;
}

.topSection__leftSection__icon {
    width: 40px;
    height: 40px;
    padding: 5.7px;

    background-color: var(--purple100);
    border-radius: 4px;
}

.topSection__rightSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topSection__rightSection__sunIcon,
.topSection__rightSection__moonIcon {
    width: 16px;
    height: 16px;
}

.topSection__rightSection__toggleButton {
    width: 32px;
    height: 20px;
    padding: 4px;

    background-color: var(--purple600);
    border-radius: 50px;
}

.topSection__rightSection__toggleButton > div {
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 100%;
}

/* BOTTOM SECTION */
.bottomSection {
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bottomSection__leftSection__startMenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottomSection__leftSection__startMenu__subtitle {
    color: var(--grey500);
}


/** MEDIA QUERIES **/
@media (min-width: 600px) {
    body {
        padding: 40px 64px;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    /* TOP SECTION */
    .topSection {
        padding: 0;
    }

    .topSection__leftSection__icon {
        width: 56px;
        height: 56px;
        padding: 8px;
    }

    .topSection__rightSection {
        gap: 16px;
    }

    .topSection__rightSection__sunIcon,
    .topSection__rightSection__moonIcon {
        width: 24px;
        height: 24px;
    }

    .topSection__rightSection__toggleButton {
        width: 48px;
        height: 28px;
        padding: 4px;
    }

    .topSection__rightSection__toggleButton > div {
        width: 20px;
        height: 20px;
    }

    /* BOTTOM SECTION */
    .bottomSection {
        padding: 0px;

        gap: 64px;
    }

    
}

@media (min-width: 1100px) {
    body {
        padding: 83px 140px 148px 140px;
        gap: 85px;
    }

    /* BOTTOM SECTION */
    .bottomSection {
        flex-direction: row;
        justify-content: space-between;
        gap: 128px;
    }

    .bottomSection__leftSection__startMenu {
        gap: 48px;   
    }

    .bottomSection__leftSection {
    }

    .bottomSection__rightSection {
        min-width: 50%;
    }
}