@import url('global.css');

/* TODO: make variables for media queries cut points */

body {
    background-image: url('../assets/images/pattern-background-mobile-light.svg');
    background-repeat: no-repeat;
    background-color: var(--grey50);
}

/* TOP SECTION */
.topSection {
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topSection__leftSection {
    display: flex;
    align-items: center;
    gap: 16px;
}

.topSection__leftSection__icon {
    width: 40px;
    height: 40px;
    padding: 5.7px;

    background-color: var(--purple100);
    border-radius: 4px;
}

.topSection__rightSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topSection__rightSection__sunIcon,
.topSection__rightSection__moonIcon {
    width: 16px;
    height: 16px;
}

.topSection__rightSection__toggleButton {
    width: 32px;
    height: 20px;
    padding: 4px;

    background-color: var(--purple600);
    border-radius: 50px;
}

.topSection__rightSection__toggleButton > div {
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 100%;
}

.topSection__rightSection__toggleButton:hover {
    transform: scale(1.05);
}

/* BOTTOM SECTION */
.bottomSection {
    padding: 32px 24px;
    padding-bottom: 87px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Start menu */
.bottomSection__leftSection__startMenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottomSection__leftSection__startMenu__subtitle {
    color: var(--grey500);
}

/* Start menu list icons */
.icon-html {
    background-color: var(--orange50);
}
.icon-css {
    background-color: var(--green100);
}
.icon-js {
    background-color: var(--blue50);
}
.icon-accessibility {
    background-color: var(--purple100);
}

/* Question */
.bottomSection__leftSection__question {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bottomSection__leftSection__question__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottomSection__leftSection__question__top__questionNumber {
    color: var(--grey500);
}

.bottomSection__leftSection__question__bottom {
    height: 16px;
    background-color: var(--white);
    border-radius: 1000px;

    padding: 4px;
}

.bottomSection__leftSection__question__bottom > div {
    background-color: var(--purple600);
    height: 100%;
    width: 60%;
    border-radius: 1000px;
}

.bottomSection__rightSection__question__item__letter {
    width: 40px;
    height: 40px;

    background-color: var(--grey50);
    color: var(--grey500);
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomSection__rightSection__question__item__icon {
    width: 40px;
    height: 40px;
    display: none;
}

.bottomSection__rightSection__question__errorMessage {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bottomSection__rightSection__question__errorMessage__text {
    display: contents;
    color: var(--red500);
    background-color: none !important;
}

/* Score section */
.bottomSection__rightSection__score {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottomSection__rightSection__score__result {
    padding: 32px;

    background-color: var(--white);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.bottomSection__rightSection__score__result__top {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bottomSection__rightSection__score__result__top__icon {
    width: 40px;
    height: 40px;
    padding: 5.7px;
    background-color: var(--purple100);
    border-radius: 4px;
}
/* Icon modifiers for last page */
.bottomSection__rightSection__score__result__top__icon--html {
    content: url('../assets/images/icon-html.svg');
    background-color: var(--orange50);
}

.bottomSection__rightSection__score__result__top__icon--css {
    content: url('../assets/images/icon-css.svg');
    background-color: var(--green100);
}

.bottomSection__rightSection__score__result__top__icon--javascript {
    content: url('../assets/images/icon-js.svg');
    background-color: var(--blue50);
}

.bottomSection__rightSection__score__result__top__icon--accessibility {
    content: url('../assets/images/icon-accessibility.svg');
    background-color: var(--purple100);
}
/* */

.bottomSection__rightSection__score__result__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.bottomSection__rightSection__score__result__bottom__subtext {
    color: var(--grey500);
}

/** MEDIA QUERIES **/
@media (min-width: 600px) {
    body {
        padding: 40px 64px;

        background-image: url('../assets/images/pattern-background-desktop-light.svg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    /* TOP SECTION */
    .topSection {
        padding: 0;
    }

    .topSection__leftSection__icon {
        width: 56px;
        height: 56px;
        padding: 8px;
    }

    /* Modifiers for the top left icon */
    .topSection__leftSection__icon--html {
        content: url('../assets/images/icon-html.svg');
        background-color: var(--orange50);
    }

    .topSection__leftSection__icon--css {
        content: url('../assets/images/icon-css.svg');
        background-color: var(--green100);
    }

    .topSection__leftSection__icon--javascript {
        content: url('../assets/images/icon-js.svg');
        background-color: var(--blue50);
    }

    .topSection__leftSection__icon--accessibility {
        content: url('../assets/images/icon-accessibility.svg');
        background-color: var(--purple100);
    }
    /**/

    .topSection__rightSection {
        gap: 16px;
    }

    .topSection__rightSection__sunIcon,
    .topSection__rightSection__moonIcon {
        width: 24px;
        height: 24px;
    }

    .topSection__rightSection__toggleButton {
        width: 48px;
        height: 28px;
        padding: 4px;

        cursor: pointer;
    }

    .topSection__rightSection__toggleButton > div {
        width: 20px;
        height: 20px;
    }

    /* BOTTOM SECTION */
    .bottomSection {
        padding: 0px;

        gap: 64px;
    }

    /* Question */
    .bottomSection__leftSection__question__top {
        gap: 24px;
    }

    .bottomSection__leftSection__question {
        gap: 40px;
    }

    .bottomSection__rightSection__question__item__letter {
        width: 56px;
        height: 56px;

        border-radius: 12px;
    }

    .bottomSection__rightSection__question__btn {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /* Score section */
    .bottomSection__rightSection__score {
        gap: 32px;
    }

    .bottomSection__rightSection__score__result {
        padding: 48px;
        gap: 40px;

        border-radius: 12px;
    }

    .bottomSection__rightSection__score__result__top {
        gap: 24px;
    }

    .bottomSection__rightSection__score__result__top__icon {
        width: 56px;
        height: 56px;
        padding: 8px;
        border-radius: 8px;
    }

}

@media (min-width: 1100px) {
    body {
        padding: 83px 140px 148px 140px;
        gap: 85px;
    }

    /* BOTTOM SECTION */
    .bottomSection {
        flex-direction: row;
        justify-content: space-between;
        gap: 128px;
    }

    .bottomSection__leftSection__startMenu {
        gap: 48px;   
    }

    .bottomSection__rightSection {
        min-width: 50%;
    }

    .bottomSection__leftSection__question {
        height: 80%;
        justify-content: space-between;
    }

    .bottomSection__rightSection__question__item__letter {
        border-radius: 8px;
    }

}

/* DARK MODE */
.body--dark {
    color: var(--white);
    background-color: var(--blue900);
    background-image: url('../assets/images/pattern-background-mobile-dark.svg');
}

@media (min-width: 600px) {
    .body--dark {
        background-image: url('../assets/images/pattern-background-desktop-dark.svg');
    }
}

.topSection__rightSection__toggleButton--dark {
    display: flex;
    flex-direction: row-reverse;
}

.topSection__rightSection__sunIcon--dark {
    content: url('../assets/images/icon-sun-light.svg') !important;
}

.topSection__rightSection__moonIcon--dark {
    content: url('../assets/images/icon-moon-light.svg') !important;
}

.bottomSection__leftSection__startMenu__subtitle--dark {
    color: var(--blue300);
}

.customList__item--dark {
    background-color: var(--blue850);

    box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14);
}

.bottomSection__leftSection__question__top__questionNumber--dark {
    color: var(--blue300);
}

.bottomSection__leftSection__question__bottom--dark {
    background-color: var(--blue850);
}

.btn--dark {
    box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14);
}

.bottomSection__rightSection__score__result--dark {
    background-color: var(--blue850);
}

.bottomSection__rightSection__score__result__bottom__subtext--dark {
    color: var(--blue300);
}